@charset "utf-8";
/* CSS Document */

html, body{
  height: 100%;
	font-family: verdana;
}

html {
	scroll-behavior: smooth;
}

p {
	font-family: verdana;
	font-weight: light;
	font-size: 18px;
	margin: 0;
	
}
p.a {
  font-family: verdana;
}
body{
  margin: 0;
}
h1 {
	font-family: verdana;
	font-size: 60px;
	margin: 0;
	color: #333333;
}

h2 {font-family: Kunstler Script;
	font-size: 150px;
	margin: 0;
	color: #333333;
}

h3 {font-family: Kunstler Script;
	font-size: 70px;
	margin: 0;
	color: pink;}

#header {
	width: auto;
	height: 10%;
	background: white;
	
}

#top {
	width: 100%;
	text-align: center;
	background: #ffcccc;
	position: fixed;
	padding-top: 1%;
	padding-bottom: 1%;
	 z-index: 1;
	 display: block;

}




nav{

  display: flex;
  width: 100%;

  color: #333333;
  background: #ffffff;
  align-items: center;
  justify-content: center;
	position: fixed;
	 z-index: 1;
}


a{
  text-decoration: none;
  color: #333333;
  margin: 0 40px;
	font-size: 20px;
}

a:hover { border-bottom:2px solid #ff99ff;}





#logo{
  width: 300px;
}

#navlogo{
	width:70%;
	height: 70%;
	 display: block;
	margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}







/* hero section */

#hero-section {
	width: 100%;
	height: 700px;
	background-image: url("../img/herobackground.png");
	margin-top: 10%;
	margin-bottom: 15%;
	position: relative;
}

#content {
    float:left;
    width:40%;
	height: 600px;
	text-align: center;
	margin-left: 5%;
	margin-top: 5%;
	padding-right: 5%;
}

#sidebar {
    float:left;
    width:50%;
	height: 900px;
	text-align: center;
}

/* button css */
a.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}


/* services */


#container2 {
    position: relative;
    width: 100%;
	text-align: center;
	height: 845px;
	background: #333333;
	margin-bottom: 15%;

}
.container div {
    height: auto;
	text-align: center;
	
	
}

.column-left {
    width: 33%;
    left: 0;
    background: #333333;
    position: absolute;
	text-align: center;
	margin-bottom: 20%;
	padding-top: 10%;
}
.column-center {
    width: 30%;
    background: #333333;
    margin-left: 34%;
    position: absolute;
	text-align: center;
		margin-bottom: 20%;
	padding-top: 10%;
	
}
.column-right {
    width: 33.3%;
    right: 0;
    position: absolute;
    background: #333333;
	text-align: center;
		margin-bottom: 20%;
	padding-top: 10%;
}


/* portfolio */

#work-section {
		width: 100%;
	height: 450px;
	background-color: lightpink;
	margin-top: 10%;
	position: relative;
	text-align: center;
}

#work-section h2{
	color: black;
	padding-top: 5%;
}


/* Kind Words */

#feedback-section {
		width: 100%;
	height: 450px;
	background-color: dimgrey;
	margin-top: 10%;
	position: relative;
	text-align: center;
}

#feedback-section h2{
	color: white;
	padding-top: 5%;
}

/* footer section */


#footer-section {
	width:100%;
	height: 10%;
	background: black;
	text-align: center;
	margin-top: 5%;
	
}
