@charset "utf-8";
/* CSS Document */

html, body{
  height: 100%;
	font-family: verdana;
	scrollbar-color: pink;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border-radius: 10px;
width: 4px;
border: 1px dotted pink;
}

::-webkit-scrollbar-thumb {
background: pink; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: hotpink;  
}

p {
	font-family: Tenor Sans;
	font-weight: light;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	margin: 0;
	
}
p.a {
  font-family: verdana;
}
body{
  margin: 0;
}
h1 {
	font-family: verdana;
	font-size: 70px;
	margin: 0;
	color: pink;
}

h2 {font-family: Biome Light;
	font-size: 70px;
	margin: 0;
	color: #333333;
}

h3 {font-family:Kunstler Script ;
	font-size: 120px;
	margin: 0;
	color: #ff9999;}


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  display: none;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: lightpink;
  color: white;
}

#header {
	width: auto;
	height: 10%;
	background: white;
	
}

#top {
	width: 100%;
	text-align: center;
	background: #ffcccc;
	position: fixed;
	padding-top: 1%;
	padding-bottom: 1%;
	 z-index: 1;
	 display: block;

}
#top {
letter-spacing: 2px;
}




nav{

  display: flex;
  width: 100%;

  color: #333333;
  background: #ffffff;
  align-items: center;
  justify-content: center;
	position: fixed;
	 z-index: 1;
}


a{
  text-decoration: none;
  color: #333333;
  margin: 0 40px;
	font-size: 20px;
}

a:hover { border-bottom:2px solid #ff99ff;}





#logo{
  width: 300px;
}

#navlogo{
	width:70%;
	height: 70%;
	 display: block;
	margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}



/*animated arrow*/
.animatedarrow {
	 display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}



/* hero section */

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image:url("hero8.png");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
	
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text p {
	font-size: 30px;
}
/* button css */
a.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}

/* about */
/* The hero image */
#about-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../img/aboutbackground.png");

  /* Set a specific height */
  height: 930px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.about-text {
	margin-top: 12%;
  text-align: center;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.about-text p{
	color: black;
	font-size: 18px;
	line-height: 2;
}
/* services */


#container2 {
    position: relative;
    width: 100%;
	text-align: center;
	height: 845px;
	background: #333333;
	

}
#container2 H3 {
	font-size: 90px;
	line-height: 20px;
	margin-top: 14%;
	
}

#container2 p {
	margin-left: 9%;
	margin-right: 9%;
	color: white;
}
.container div {
    height: auto;
	text-align: center;
	
	
}

.column-left {
    width: 33%;
    left: 0;
    background: #333333;
    position: absolute;
	text-align: center;
	margin-bottom: 20%;
	padding-top: 10%;
}
.column-center {
    width: 30%;
    background: #333333;
    margin-left: 34%;
    position: absolute;
	text-align: center;
		margin-bottom: 20%;
	padding-top: 10%;
	
}
.column-right {
    width: 33.3%;
    right: 0;
    position: absolute;
    background: #333333;
	text-align: center;
		margin-bottom: 20%;
	padding-top: 10%;
}

/* visual break */
.visual-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image:url("../img/webdesign3.png");

  /* Set a specific height */
  height: 70%;

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


/* For Javascript */

#animation {
	width: 100%;
	height: 200px;
}
.containerj {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
	
}
.containerj p {
  font-size: 4rem;
  padding: 2rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
	line-height: 4rem;
  text-align: center;
  overflow: hidden;
}
.containerj p span.typed-text {
  font-weight: normal;
  color: #ff9999;
}
.containerj p span.cursor {
  display: inline-block;
  background-color: white;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: black; }
  49% { background-color: black; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: black; }
}

#instagram {
	margin-left: 10%;
}

#work-section {
	width: 100%;
	height: 950px;
	padding-top: 5%;
	text-align: center; 
}
/* Kind Words */

#contact-section {
		width: 100%;
	height: 1450px;
	background-color: dimgrey;
	position: relative;
	margin-top: 10%;
	text-align: center;
	padding-top: 12%;
}

#contact-section h2{
	color: white;
	
}

#form {
	margin-top: 2%;
	width:700px;
	height:1050px;
	border: 4px;
	overflow:hidden;
}

/* footer section */


#footer-section {
	width:100%;
	height: 200px;
	background: black;
	text-align: center;
	margin-top: 5%;
	
}

#footer-section p {
	margin-top: 4%;
	color: white;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
	html p {
		font-size: 14px;
	}
	nav {
		dipslay: none;
	}
	
	
	#work-section h3 {
		font-size: 65px;
	}
	/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: fixed;
	width: 100%;
	z-index:9999;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
	z-index:9999;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
	z-index: 99999;


}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
	z-index: 99999;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: lightpink;
  color: white;
	z-index: 99999;
}
	
	#top {
		display: none;
	}
	

.hero-text {
  text-align: center;
	position: absolute;
	top: 50%;
  color: white;
}

.hero-text p {
	font-size: 20px;
}
	
	.hero-text h1 {
		font-size: 50px;
	}

/* Place text in the middle of the image */

	#header {
	display: none;
		margin: none;
	}
	
	
	.about-text {
	padding-top: 2%;
  transform: none;
		left: 2%;
		top: 10%;
  color: white;
}
	
	.about-text p{
	color: black;
	font-size:14px;
	line-height: 2;
		
}
	
	.about-text h2{
		font-size: 50px;
	}
	
	.about-text h3{
		font-size: 90px;
	}
	#about-image {
		height: 800px;
	}
	
	#container2 {
    position: relative;
    width: 100%;
	text-align: center;
	height: 1645px;
	background: #333333;
	margin-top: 20%;
	

}
	
	.column-left {
    width: 100%;
    left: 0;
    background: #333333;
    position: sticky;
	text-align: center;
		float:none;

}
	
	#contact-section h3 {
		font-size: 80px;
	}
	
	#contact-section p {
		margin-left: 6%;
		margin-right: 6%;
		color: white;
	}
	
	.column-left h3 {
		font-size: 30px;
	}
	
	.column-center h3 {
		font-size: 30px;
	}
	
	.column-right h3 {
		font-size: 30px;
	}
	
	
	.column-left p {
		left: 0;
		
	}
.column-center {
    width: 100%;
    background: #333333;
    margin-left: 0%;
    position: sticky;
	text-align: center;
	z-index: 1;
	float:none;
}
.column-right {
    width: 100%;
    right: 0;
     position: sticky;
    background: #333333;
	text-align: center;
	float:none;

	}
	
	#webdesignimg {
		width: 70%;
		height: 70%;
	}
	
	#logoesignimg{
		width: 70%;
		height: 70%;
	}
	
	#oesignimg {
		width: 70%;
		height: 70%;
	}
	
	#work-section {
		height: 1050px;




	}
	
	#container2 h3 {
		font-size: 65px;
	}

#form {
	margin-top: 5%;
	margin-bottom:10%;
	width:320px;
	height:1399px;
	overflow:hidden;
}
	
	#contact-section {
		width: 100%;
	height: 1600px;

	}

	#mockup{
		display: none;
	}

	#animation {
		margin-top: 20%;
	}}
