@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;

}
.containerj {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerj p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.containerj p span.typed-text {
  font-weight: normal;
  color: #ffcccc;
}
.containerj p span.cursor {
  display: inline-block;
  background-color: white;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: white; }
  49% { background-color: white; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: white; }
}